<!-- src/app/add-movie/add-movie.component.html -->
<form (ngSubmit)="addMovie()" #movieForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="movie.title" name="title" required />
    <mat-error *ngIf="movieForm.submitted && !movie.title">Title is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <input matInput [(ngModel)]="movie.genre" name="genre" required />
    <mat-error *ngIf="movieForm.submitted && !movie.genre">Genre is required.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Release Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="movie.releaseDate"
      name="releaseDate"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="movieForm.submitted && !movie.releaseDate">
      Release Date is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rating</mat-label>
    <mat-select [(ngModel)]="movie.rating" name="rating" required>
      <mat-option *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">
        {{ star }} Star{{ star > 1 ? 's' : '' }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="movieForm.submitted && !movie.rating">Rating is required.</mat-error>
  </mat-form-field>
  

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="movie.description" name="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add Movie</button>
</form>

