


<div class="all-movie-container" >
    <h1 class="h1">Your Shelf</h1>
    <div>
    <table>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Rating</th>
            <th>Release</th>
            <th>Watch Date</th>
            <th>Notes</th>
        </tr>
    </table>
    <div class="add-movie-button-container">
        <button class="add-movie-button">
            <img src="assets/addicon1.png" alt="Add icon">
        </button>
    </div>
     </div>
</div>
