@import '@angular/material/prebuilt-themes/indigo-pink.css';


body {
    background-color: #342f2d; 
    color: #f0f0f0; 
  }
  
  .logo {
    font-family: 'Rasputin', serif;
    color: #ffffff; 
    font-size: 1.5em; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
    margin: 40px; 
  }
  .movie-container {
    position: relative;
    background-color: #e4ded7;
    padding: 20px;
    border-radius: 10px;
    width: 1500px; /* Keep the large size */
    height: 1000px; /* Keep the large size */
    display: flex;
    flex-direction: column; /* Stack items vertically (button and grid) */
    margin: 0 auto; /* Center the container horizontally */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Softer shadow */
  }
  .add-button { 
    position: absolute; 
    top: 20px; /* Adjust the top position */ 
    right: 20px; /* Adjust the right position */ }
  

  .movie-grid {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
     gap: 16px;
     margin-top: 60px; /* Space below the Add Movie button */
   
    }
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100vh; 
}

.movie-card {
  max-width: 300px;
  margin: 1rem;
  border: 1px solid blue;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
