
<div class="sidebar">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo" class="logo">
    </div>
        <a href="#" >
            <img src="assets/movieicon1.png" class="sidebar-icon" alt="Movie Icon">
            All Movies   
        </a>
        <a href="#">
            <img src="assets/eyeicon1.png" class="sidebar-icon" alt="Eye Icon">
            Watchlist</a>
        <a href="#">
             <img src="assets/calendaricon.png" class="sidebar-icon"alt ="Calendar Icon">
            Movie Calender </a>
    <div class="condence-sidebar-container"> 
            <button class="condence-sidebar-button">
                <img src="assets/xicon2.png">
            </button>
    </div>
</div>


